body {
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}
table {
  margin: -80px auto 0;
  border-collapse: collapse;
}
td {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  font-weight: 700;
  /* border: 1px solid #000; */
}
.white {
  background: #ffce9e;
}
.black {
  background: #000;
}
