#cell span {
  display: inline-block;
  height: 200px;
  width: 200px;
}
#chessBoard div:nth-child(odd) span:nth-child(even),
#chessBoard div:nth-child(even) span:nth-child(odd) {
  background-color: black;
}
span {
  display: inline-block;
  height: 200px;
  width: 200px;
}
